:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-yellow-meli: #FFE600;
  --bg-grey-search: #EEEEEE;
  --p-grey: #999999;
  --b-blue: #3483FA;
}

body{
  margin: 0 !important;
}


/*********************************************************************************************/

.nav-container{
  background-color: var(--bg-yellow-meli);
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
}

.nav-container_center{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container_logoMeli{
  margin-right: 15px;
}

.nav-container_search{
  width: 80%;
  height: 20px;
  border: none;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
}

.nav-container_buttonSearch{
  background-color: var(--bg-grey-search);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width:400px){
  .nav-container_center{
    width: 90%;
  }

  .nav-container_search{
    font-size: 12px;
  }
}



/*********************************************************************************************/

.card-container{
  width: 100%;
  height: 180px;
  padding: 16px;
  display: flex;
}

.f-16{
  font-size: 16px !important;
}

.f-28{
  font-size: 28px !important;
}

.p-16{
  padding: 16px;
}

.pt-16{
  padding-top: 16px;
}

.pb-16{
  padding-bottom: 16px;
}

.p-32{
  padding: 32px;
}

.pr-32{
  padding-right: 32px;
}

.pt-32{
  padding-top: 32px;
}

.pb-32{
  padding-bottom: 32px;
}
/***/
.m-16{
  margin: 16px;
}

.mt-16{
  margin-top: 16px;
}

.mb-16{
  margin-bottom: 16px;
}

.m-32{
  margin: 32px;
}

.mt-32{
  margin-top: 32px;
}

.mb-32{
  margin-bottom: 32px;
}

.mr-32{
  margin-right: 32px;
}

.separator{
  border-color: 1px var(--p-grey);
  size: 1px;
  width: 90%;
  margin: 0px auto;
}

.btn{
  background-color: var(--b-blue);
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.d-flex{
  display: flex;
}


.price{
  font-size: 46px;
}

.two-lines{
  display: -webkit-box;
  -webkit-line-clamp: 2; 
}

.bold{
  font-weight: bold;
}