:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-yellow-meli: #FFE600;
  --bg-grey-search: #EEEEEE;
  --p-grey: #999999;
}

body{
  margin: 0 !important;
}

.title{
  font-size: 24px !important;
  margin: 24px 0px;
}

.subtitle{
  font-size: 18px !important;
}

.span{
  font-size: 12px;
  color: var(--p-grey);
}

p{
  font-size: 14px;
  margin: 0px;
}

.p-16{
  padding: 16px;
}

.pt-16{
  padding-top: 16px;
}

.pb-16{
  padding-bottom: 16px;
}

.p-32{
  padding: 32px;
}

.pt-32{
  padding-top: 32px;
}

.pb-32{
  padding-bottom: 32px;
}
/***/
.m-16{
  margin: 16px;
}

.mt-16{
  margin-top: 16px;
}

.mb-16{
  margin-bottom: 16px;
}

.m-32{
  margin: 32px;
}

.mt-32{
  margin-top: 32px;
}

.mb-32{
  margin-bottom: 32px;
}

.separator{
  border-color: 1px var(--p-grey);
  size: 1px;
  width: 90%;
  margin: 0px auto;
}

